In [18]:
import pandas as pd
import numpy as np
import pickle

In [48]:
with open(r'C:\Users\mjnst\Desktop\Thesis\results\complete_results.txt', 'rb') as f:
    r1 = pickle.load(f)
    
with open(r'C:\Users\mjnst\Desktop\Thesis\results\complete_results_run2.txt', 'rb') as f:
    r2 = pickle.load(f)
    
with open(r'C:\Users\mjnst\Desktop\Thesis\results\complete_results_run3.txt', 'rb') as f:
    r3 = pickle.load(f)

In [87]:
test_dict = {}

def get_results(file):
    for result in file:
        if result[0] not in test_dict:
            test_dict[result[0]] = [result[1][1]]
        else:
            test_dict[result[0]].append(result[1][1])

get_results(r1)
get_results(r2)
get_results(r3)

r1_results = {i:np.nanmean(test_dict[i], axis=0) for i in test_dict}

r1_results

{'Location 1 - flow': array([  0.61983459,   0.69371776,   0.35738165,   0.44286546,
         66.38769031, 149.77380916]),
 'Location 2 - consumption': array([ 0.65748386,  0.64026052,  0.40264993,  0.38468979, 48.25404572,
        99.12546285]),
 'Location 3 - consumption': array([  0.61817613,   0.60971402,   0.32690706,   0.34532532,
        127.27494322, 105.88231506]),
 'Location 4 - consumption': array([  0.68508475,   0.66312698,   0.3959155 ,   0.40086361,
        122.38327885,  91.46280924]),
 'Location 5 - consumption': array([  0.55032654,   0.61770845,   0.28072316,   0.35999037,
         61.34169356, 111.19051615]),
 'Location 6 - head': array([  0.56592284,   0.64105304,   0.27897701,   0.37202877,
         53.88106314, 101.23088455]),
 'Location 7 - head': array([ 0.52978769,  0.55418965,  0.27308326,  0.30307821, 50.92994843,
        83.77009048]),
 'Location 8 - flow': array([  0.56358728,   0.65332219,   0.29183558,   0.38602204,
         55.16810444, 122.74181584]),
 'Location 9 - head': array([  0.76993876,   0.62993192,   0.50686968,   0.3550355 ,
        131.60416555, 108.87949753]),
 'Location 10 - flow': array([  0.61910906,   0.67072634,   0.35807767,   0.42488488,
         67.86146665, 141.57507924]),
 'Location 11 - head': array([  0.70103797,   0.61609056,   0.41224803,   0.35418246,
         98.53930664, 114.31817932]),
 'Location 11 - flow': array([  0.56402157,   0.64464416,   0.28085619,   0.36744654,
         49.11471176, 103.38802338]),
 'Location 12 - head': array([  0.55860813,   0.62772018,   0.27805576,   0.35827853,
         49.01332426, 103.27392142])}

In [92]:
df = pd.DataFrame(r1_results).T
df.columns = ["Train RMSE", "Test RMSE", "Train MAE", "Test MAE", "Train MAPE", "Test MAPE"]
df.index.name = "Location"
cols = pd.MultiIndex.from_product([['Train', 'Test'], ['RMSE', 'MAE', 'MAPE']])
df.columns = cols
df.sort_index(inplace=True)
df = df.astype(float).round(3)
df

                          Train                 Test
                           RMSE    MAE   MAPE   RMSE      MAE     MAPE
Location
Location 1 - flow         0.620  0.694  0.357  0.443   66.388  149.774
Location 10 - flow        0.619  0.671  0.358  0.425   67.861  141.575
Location 11 - flow        0.564  0.645  0.281  0.367   49.115  103.388
Location 11 - head        0.701  0.616  0.412  0.354   98.539  114.318
Location 12 - head        0.559  0.628  0.278  0.358   49.013  103.274
Location 2 - consumption  0.657  0.640  0.403  0.385   48.254   99.125
Location 3 - consumption  0.618  0.610  0.327  0.345  127.275  105.882
Location 4 - consumption  0.685  0.663  0.396  0.401  122.383   91.463
Location 5 - consumption  0.550  0.618  0.281  0.360   61.342  111.191
Location 6 - head         0.566  0.641  0.279  0.372   53.881  101.231
Location 7 - head         0.530  0.554  0.273  0.303   50.930   83.770
Location 8 - flow         0.564  0.653  0.292  0.386   55.168  122.742
Location 9 - head         0.770  0.630  0.507  0.355  131.604  108.879

In [94]:
print(df.to_latex())

\begin{tabular}{lrrrrrr}
\toprule
 & \multicolumn{3}{r}{Train} & \multicolumn{3}{r}{Test} \\
 & RMSE & MAE & MAPE & RMSE & MAE & MAPE \\
Location &  &  &  &  &  &  \\
\midrule
Location 1 - flow & 0.620000 & 0.694000 & 0.357000 & 0.443000 & 66.388000 & 149.774000 \\
Location 10 - flow & 0.619000 & 0.671000 & 0.358000 & 0.425000 & 67.861000 & 141.575000 \\
Location 11 - flow & 0.564000 & 0.645000 & 0.281000 & 0.367000 & 49.115000 & 103.388000 \\
Location 11 - head & 0.701000 & 0.616000 & 0.412000 & 0.354000 & 98.539000 & 114.318000 \\
Location 12 - head & 0.559000 & 0.628000 & 0.278000 & 0.358000 & 49.013000 & 103.274000 \\
Location 2 - consumption & 0.657000 & 0.640000 & 0.403000 & 0.385000 & 48.254000 & 99.125000 \\
Location 3 - consumption & 0.618000 & 0.610000 & 0.327000 & 0.345000 & 127.275000 & 105.882000 \\
Location 4 - consumption & 0.685000 & 0.663000 & 0.396000 & 0.401000 & 122.383000 & 91.463000 \\
Location 5 - consumption & 0.550000 & 0.618000 & 0.281000 & 0.360000 & 61.342000 & 111.191000 \\
Location 6 - head & 0.566000 & 0.641000 & 0.279000 & 0.372000 & 53.881000 & 101.231000 \\
Location 7 - head & 0.530000 & 0.554000 & 0.273000 & 0.303000 & 50.930000 & 83.770000 \\
Location 8 - flow & 0.564000 & 0.653000 & 0.292000 & 0.386000 & 55.168000 & 122.742000 \\
Location 9 - head & 0.770000 & 0.630000 & 0.507000 & 0.355000 & 131.604000 & 108.879000 \\
\bottomrule
\end{tabular}