# Imports

In [1]:
import pandas as pd
import numpy as np
import pickle

# Loading results

In [2]:
with open(r"C:\Users\Martin\Desktop\thesis 2\results\run_3.txt", 'rb') as f:
    r1 = pickle.load(f)
    
with open(r"C:\Users\Martin\Desktop\thesis 2\results\run_4.txt", 'rb') as f:
    r2 = pickle.load(f)
    
with open(r"C:\Users\Martin\Desktop\thesis 2\results\run_5.txt", 'rb') as f:
    r3 = pickle.load(f)

In [3]:
test_dict = {}

def get_results(file):
    for result in file:
        if result[0] not in test_dict:
            test_dict[result[0]] = [result[1][1]]
        else:
            test_dict[result[0]].append(result[1][1])

get_results(r1)
get_results(r2)
get_results(r3)

results = {i:np.nanmean(test_dict[i], axis=0) for i in test_dict}

results

{'Location 1 - flow': array([ 28.87456674,  31.70102714,  17.98879751,  21.04639077,
         87.5766112 , 204.40705156]),
 'Location 2 - consumption': array([ 0.35725744,  0.51418791,  0.21280149,  0.35508818, 32.41144657,
        63.1841223 ]),
 'Location 3 - consumption': array([3.73268340e-01, 4.74224681e-01, 2.20950234e-01, 2.97384868e-01,
        3.97832625e+02, 9.29769465e+02]),
 'Location 4 - consumption': array([ 0.46286673,  0.96688567,  0.25240062,  0.54774604,  6.01983396,
        19.44214694]),
 'Location 5 - consumption': array([5.15554539e-01, 3.18473289e-01, 2.67913016e-01, 2.37837262e-01,
        2.05897508e+05, 1.52448317e+06]),
 'Location 6 - head': array([1.69832317, 0.91882582, 1.27392507, 0.75914307, 1.66418962,
        0.8757292 ]),
 'Location 7 - head': array([1.70342838, 1.92950812, 1.1418385 , 1.33236518, 1.54900829,
        1.75627599]),
 'Location 8 - flow': array([ 26.79171242,  28.34219066,  20.24398613,  21.48867178,
        623.96556769, 105.21049118]),
 'Location 9 - head': array([0.17861725, 0.13474376, 0.09682261, 0.08097635, 0.17586652,
        0.14933166]),
 'Location 10 - flow': array([  21.99564533,   23.60950731,   13.08355204,   15.30150843,
        1595.46482086,  391.78429687]),
 'Location 11 - head': array([0.84767043, 1.01609096, 0.57843466, 0.70961448, 1.04502771,
        1.30712658]),
 'Location 11 - flow': array([7.92773455e+00, 1.12876127e+00, 4.28894111e+00, 4.08744683e-01,
        1.58720737e+03, 8.68101278e+02]),
 'Location 12 - head': array([2.03800558, 1.88610131, 1.18822068, 1.13190007, 1.80482496,
        1.6709663 ])}

In [4]:
df = pd.DataFrame(results).T
df.columns = ["Train RMSE", "Test RMSE", "Train MAE", "Test MAE", "Train MAPE", "Test MAPE"]
df.index.name = "Location"
cols = pd.MultiIndex.from_product([['Train', 'Test'], ['RMSE', 'MAE', 'MAPE']])
df.columns = cols
df.sort_index(inplace=True)
df = df.astype(float).round(3)
df

                           Train                    Test              \
                            RMSE     MAE    MAPE    RMSE         MAE
Location
Location 1 - flow         28.875  31.701  17.989  21.046      87.577
Location 10 - flow        21.996  23.610  13.084  15.302    1595.465
Location 11 - flow         7.928   1.129   4.289   0.409    1587.207
Location 11 - head         0.848   1.016   0.578   0.710       1.045
Location 12 - head         2.038   1.886   1.188   1.132       1.805
Location 2 - consumption   0.357   0.514   0.213   0.355      32.411
Location 3 - consumption   0.373   0.474   0.221   0.297     397.833
Location 4 - consumption   0.463   0.967   0.252   0.548       6.020
Location 5 - consumption   0.516   0.318   0.268   0.238  205897.508
Location 6 - head          1.698   0.919   1.274   0.759       1.664
Location 7 - head          1.703   1.930   1.142   1.332       1.549
Location 8 - flow         26.792  28.342  20.244  21.489     623.966
Location 9 - head          0.179   0.135   0.097   0.081       0.176


                                 MAPE
Location
Location 1 - flow             204.407
Location 10 - flow            391.784
Location 11 - flow            868.101
Location 11 - head              1.307
Location 12 - head              1.671
Location 2 - consumption       63.184
Location 3 - consumption      929.769
Location 4 - consumption       19.442
Location 5 - consumption  1524483.167
Location 6 - head               0.876
Location 7 - head               1.756
Location 8 - flow             105.210
Location 9 - head               0.149

In [10]:
df = pd.DataFrame(results).T
df.columns = ["Train RMSE", "Test RMSE", "Train MAE", "Test MAE", "Train MAPE", "Test MAPE"]
df.index.name = "Location"
cols = pd.MultiIndex.from_product([['Train', 'Test'], ['RMSE', 'MAE', 'MAPE']])
df.columns = cols
df.sort_index(inplace=True)
df = df.astype(float).round(3)
df

                           Train                    Test
                            RMSE     MAE    MAPE    RMSE         MAE
Location
Location 1 - flow         28.772  28.664  18.226  19.370     125.648  \
Location 10 - flow        24.000  24.767  14.296  14.891    2094.733
Location 11 - flow         5.745   1.130   3.801   0.446     741.154
Location 11 - head         1.415   1.129   0.961   0.676       1.797
Location 12 - head         2.289   1.795   1.261   1.106       1.988
Location 2 - consumption   0.613   0.635   0.333   0.383      78.787
Location 3 - consumption   0.474   0.545   0.289   0.353     405.902
Location 4 - consumption   0.458   0.971   0.262   0.549       7.809
Location 5 - consumption   0.224   0.299   0.150   0.224  434458.025
Location 6 - head          0.774   0.605   0.406   0.338       0.486
Location 7 - head          1.688   1.720   1.147   1.176       1.554
Location 8 - flow         28.858  28.012  21.572  21.041     586.153
Location 9 - head          0.196   0.134   0.124   0.081       0.225


                                 MAPE
Location
Location 1 - flow              80.745
Location 10 - flow           2038.685
Location 11 - flow            876.811
Location 11 - head              1.244
Location 12 - head              1.631
Location 2 - consumption      126.907
Location 3 - consumption     1891.546
Location 4 - consumption       19.439
Location 5 - consumption  1954758.333
Location 6 - head               0.394
Location 7 - head               1.575
Location 8 - flow             100.725
Location 9 - head               0.149

In [6]:
print(df.to_latex())

\begin{tabular}{lrrrrrr}
\toprule
 & \multicolumn{3}{r}{Train} & \multicolumn{3}{r}{Test} \\
 & RMSE & MAE & MAPE & RMSE & MAE & MAPE \\
Location &  &  &  &  &  &  \\
\midrule
Location 1 - flow & 28.772000 & 28.664000 & 18.226000 & 19.370000 & 125.648000 & 80.745000 \\
Location 10 - flow & 24.000000 & 24.767000 & 14.296000 & 14.891000 & 2094.733000 & 2038.685000 \\
Location 11 - flow & 5.745000 & 1.130000 & 3.801000 & 0.446000 & 741.154000 & 876.811000 \\
Location 11 - head & 1.415000 & 1.129000 & 0.961000 & 0.676000 & 1.797000 & 1.244000 \\
Location 12 - head & 2.289000 & 1.795000 & 1.261000 & 1.106000 & 1.988000 & 1.631000 \\
Location 2 - consumption & 0.613000 & 0.635000 & 0.333000 & 0.383000 & 78.787000 & 126.907000 \\
Location 3 - consumption & 0.474000 & 0.545000 & 0.289000 & 0.353000 & 405.902000 & 1891.546000 \\
Location 4 - consumption & 0.458000 & 0.971000 & 0.262000 & 0.549000 & 7.809000 & 19.439000 \\
Location 5 - consumption & 0.224000 & 0.299000 & 0.150000 & 0.224000 & 434458.025000 & 1954758.333000 \\
Location 6 - head & 0.774000 & 0.605000 & 0.406000 & 0.338000 & 0.486000 & 0.394000 \\
Location 7 - head & 1.688000 & 1.720000 & 1.147000 & 1.176000 & 1.554000 & 1.575000 \\
Location 8 - flow & 28.858000 & 28.012000 & 21.572000 & 21.041000 & 586.153000 & 100.725000 \\
Location 9 - head & 0.196000 & 0.134000 & 0.124000 & 0.081000 & 0.225000 & 0.149000 \\
\bottomrule
\end{tabular}